<section class="Menu-display">
    
    <% Menu.all.each do |menu| %>
        <ul>
            <div class="Menu-list">
                <li class="Menu-listDetails"><%= menu.name %>
                    
                        <a href="javascript:void(0)">
                        <%= form_with(url: "/menus/#{menu.id}", method: "delete") do %>
                        <input type='image' src="trash.png" class="MenuSection-icon">
                        <%end%>
                    
                    </a>
                </li>
            </div>
        </ul>
    <% end %>







</section>