<section class="Menu-display">
    
    <% Menu.all.each do |menu| %>
        <ul>
            <div class="Menu-list">
                <li class="Menu-listDetails">
                    <%= menu.name %>
                    <% if @user_role == "owner" %>
                        <%= form_with(url: "/menus/#{menu.id}", method: "delete") do %>
                            <%= image_submit_tag("delete.png", options = {class: "MenuSection-icon"}) %>
                            <%= image_submit_tag("delete.png", options = {class: "MenuSection-icon"}) %>
                        <%end%>
                    <% end %>
                </li>
            </div>
        </ul>
    <% end %>
</section>