<section class="Menu-display">
    <% Menu.all.each do |menu| %>
        <ul>
            <li>
                <div class="Menu-listDetails">
                    <p><%= menu.name %></p>
                    <% if show_edit==true && @user_role == "owner"  %>
                        <%= form_with(url: "/menus/#{menu.id}", method: "delete") do %>
                            <%= image_submit_tag("delete.png", options = {class: "MenuSection-icon"}) %>
                        <% end%>
                        <%= link_to  "<imaage src:"edit.png", options = {class: "MenuSection-icon"}>" , menu_items_path  %>
                    
                    <% end %>
                </div>
            </li>
        </ul>
    <% end %>
</section