<html>
    <body >
        <main class="Menu-main">
            <img src="Menu_img1.jpg" class="Menu-image"/>
            <p> 
                <ul class="Menu-list">
                    <li class="Menu-listTitle">Pick your favourite menu !!</li>
                    <li class="Menu-listDetails">Breakfast</li>
                    <li class="Menu-listDetails">Lunch</li>
                    <li class="Menu-listDetails">Dinner</li>
                    <li class="Menu-listDetails">Dessert</li>
                    <li class="Menu-listDetails">Special</li>
                </ul>
            </p>
        </main>
    </body>
</html>
