<body class="Admin-body">
    <section class="Admin">
        <p class="Admin-button"><%= link_to "Add Billing Clerk", new_admin_path, class: "Admin-button-link_to"%></p>
        <p class="Admin-button"><%= link_to "View all Users", view_users_path, class: "Admin-button-link_to"%></p>
        <p class="Admin-button"><%= link_to "Modify Menus", menus_path, class: "Admin-button-link_to" %></p>
        <p class="Admin-button"><%= link_to "View/Place order", orders_path, class: "Admin-button-link_to"%></p>
    </section>
</body>
