<body class="Menu">
    <section >
        <p class="Menu-display">  
        <section class="MenuItem-title" >
            <P class="MenuItem-page">Name</p>
            <P class="MenuItem-page">Price</p>
            <P class="MenuItem-description-title">Item'sDescription</p>
            <P class="OrderItem-title">Quantity</p>
        </section>
             <%= render partial: "menu-item-section"%>                
        </p>
    </section>
</body>