<html>
    <body >
        <main class="Menu">
            <img src="Menu_img1.jpg" class="Menu-image"/>
            <p>
                <ul class="Menu-list">
                    <li class="Menu-listTitle">
                        <%= render partial: "menu-item-section"%>
                        
                    </li>
                   
                </ul>
            </p>
        </main>        
    </body>
</html>
