<body class="Menu">
    <section >
        <p class="Menu-display">  
        <section class="MenuItem-title" >
            <P class="MenuItem-page">NAME</p>
            <P class="MenuItem-page">Price</p>
            <P class="MenuItem-page">Item Description</p>
            <P class="MenuItem-page">Quantity</p>
        </section>
             <%= render partial: "menu-item-section"%>                
        </p>
    </section>
</body>