<body class="Home">
    <main class="Home-welcome" >
            <h2 class="Home-pageTitle">Welcome to the Cafeteria Management System</h2>
            <br>
            <p class="Home-welcomeContent">
                If you are a new user click below ! 
                <%= link_to "Sign Up" , new_user_path , class: "HomeSign-button" %>
            </p>
            <p class="Home-welcomeContent">
                If you are an existing user click below !
                <%= link_to "Sign In" , new_sessions_path , class: "HomeSign-button" %>
            </p>
    </main>
</body>
