<body class="Home">
    <main class="Home-welcome" >
        
            <h2>Welcome to the Cafeteria Management System</h2>
            <br>
            If you are a new user click below !
            <%= button_to "Sign Up" , new_user_path , class: "Sign-button" %>
            <br>
            If you are an existing user click below !
            <%= button_to "Sign In" , new_sessions_path , class: "Sign-button" %>
    </main>
</body>
