<% orders.each do |order| %>
    <section class="Order-section">
        <div class="Order-div">
            <%= order.date.to_s(:short)%>
            <% if order.delivered_at == nil %>
                <p>Not Delivered</p>
            <% else %>
                <p>Delivered</p>
                <p><%= order.delivered_at.to_s(:short)%></p>
            <%end%>
        </div>
    
    <p class= "Order-details" ><%= link_to :"Click Here to View Order Details", view_invoice_path(id: order.id), class: "Order-details-tag" %></p>
    </section>
<% end %>
