<section class="Order-section">
    <hr>
    <% orders.order(:id).each do |order| %>
        <div class="Order-division">
            <div class="tooltip">
                <p class= "Order-details">
                    <%= link_to image_tag("info.png", class: "Order-details-tag"), view_invoice_path(id: order.id) %>   
                </p>
                <span class="tooltiptext">
                    Click to view Order Invoice details
                </span>
            </div>   
            <p class= "Order-detailsDate" ><%= order.date.to_s(:long)%></p>
            <% if order.delivered_at == nil %>
                <p class="OrderDetails-notDelivered">Not Delivered</p>
            <% else %>
                <p class="OrderDetails-delivered">Delivered</p>
                <p class="OrderDetails-deliveredAt"><%= order.delivered_at.to_s(:short)%></p>
            <%end%>   
        </div>
        <hr>
    <% end %> 
 </section>