.AdminUsers {
    background-image: url(view_userbck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.AdminUsers-main {
    max-width: 40vw;
    margin: 1vw auto;
    margin-top: 3vw;
    background-color: rgb(255, 255, 255);
    opacity: 90%;
    padding: 0.5vw;
    border-radius: 1.5vw;
}

.AdminUsers-title {
    font-size: 2vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-weight: bold;
    margin: 1vw;
    color: black;
    border-radius: 1.5vw;
    padding: 0.2vw;
    text-align: center;
    text-decoration: underline;
}

.Users-title {
    display: flex;
    justify-content: space-evenly;
    margin: 0.2vw;
    background-color: rgb(70, 210, 235);
    padding: 0.5vw;
    font-weight: bold;
    font-size: 1.25vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border-radius: 2vw;
}

.AddUser {
    display: grid;
    max-width: max-content;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    padding: 0.75vw;
    border: 0 black solid;
    border-radius: 1vw;
    left: 14vw;
    position: relative;
    background-color: rgb(55, 245, 55);
    color: rgb(255, 255, 255);
}

.AddUser:hover {
    transform: scale(1.2);
}

.AdminUsers-list {
    margin: 1vw auto;
    padding: 0.5vw;
    border-radius: 1vw;
    background-color: aquamarine;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.AdminUsers-section {
    display: flex;
    padding: 0 1.5vw;
    padding-bottom: 0.2vw;
}

.AdminUsers-list:hover .AdminUsers-section {
    color: black;
    font-weight: bold;
}

.AdminUsers-sectionName {
    left: 5vw;
    position: relative;
    max-width: 5vw;
}

.AdminUsers-sectionEmail {
    left: 53vw;
    position: absolute;
    max-width: 5vw;
}

.AdminUsers-list:hover {
    background-color: rgb(110, 219, 219);
    border-radius: 2vw;
}

.AdminUsers-editIcon {
    width: 1.5vw;
    height: 1.5vw;
    display: none;
    left: 45vw;
    position: absolute;
}

.AdminUsers-editIcon:hover {
    transform: scale(1.2);
}

.AdminUsers-list:hover .AdminUsers-editIcon {
    display: block;
}

.AdminUsers-deleteIcon {
    width: 1.5vw;
    height: 1.5vw;
    display: none;
    left: 47vw;
    position: absolute;
}

.AdminUsers-deleteIcon:hover {
    transform: scale(1.2);
}

.AdminUsers-list:hover .AdminUsers-deleteIcon {
    display: block;
}