.Home {
    font-family: sans-serif;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 32px;
}

.Login-section {
    display: flex;
}

.Home-welcome {
    font-size: 20px;
    margin-top: 20px;
    margin-right: 20px;
    max-width: 500px;
    background-image: url(Cafe.jpg);
    background-size: cover;
}

.Login-title {
    margin: 0 auto;
    font-size: 34px;
    font-weight: 400;
    margin-bottom: 20px;
    margin-top: 20px;
    max-width: 500px;
}

.Login-form {
    padding-left: 20px;
    margin-bottom: 30px;
}

.Login-details {
    margin-left: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    font-size: 12px;
    font-family: sans-serif;
    width: 150px;
    height: 25px;
    padding: 6px 12px;
}

.SignIn-button {
    margin-right: 20px;
    border-radius: 4px;
    background-color: #48bb78;
    font-size: 12px;
    font-family: sans-serif;
    width: auto;
    height: 30px;
    box-shadow: none;
}

.SignUp-button {
    margin-right: 20px;
    border-radius: 4px;
    background-color: #48bb78;
    font-size: 12px;
    font-family: sans-serif;
    width: auto;
    height: 30px;
    box-shadow: none;
}