.Menu-main {
    display: flex;
}

.Menu-image {
    max-width: 50%;
}

.Menu-list {
    margin: 2vw auto;
    padding: 2vw;
    max-width: max-content;
    align-self: center;
}

.Menu-listTitle {
    font-size: 2.5vw;
    font-family: sans-serif;
    font-weight: 700;
    font-style: italic;
    padding: 1vw;
    border-color: black;
    border-style: solid;
    border-radius: 2vw;
}

.Menu-listTitle:hover {
    background-color: ;
    border-width: 0.2vw;
    color: white;
    background-color: rgb(6, 35, 199);
}

.Menu-listDetails {
    font-size: 2.5vw;
    font-family: sans-serif;
    font-weight: 700;
    font-style: italic;
    padding: 1vw;
    border-color: black;
    border-style: solid;
    border-radius: 2vw;
}

.Menu-listDetails:hover {
    background-color: ;
    border-width: 0.2vw;
    color: white;
    background-color: rgb(6, 35, 199);
}