.MenuItem {
    max-width: 600px;
    margin: 0 auto;
    display: flex;
}

.MenuItem-display {
    align-items: center;
    background-color: rgb(51, 51, 51);
    height: max-content;
    opacity: 90%;
    max-width: 50vw;
    padding: 0.5vw;
    margin: auto;
    justify-content: space-between;
    justify-self: center;
}

.MenuItem-userList {
    align-items: center;
    background-color: rgb(0, 0, 0);
    border-radius: 2vw;
    opacity: 90%;
    margin-bottom: 1.5vw;
    max-width: 75vw;
    justify-content: space-between;
}

.MenuItem-userSection {
    display: flex;
    max-width: 75vw;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1vw;
}

.MenuItem-userList:hover {
    background-color: rgb(103, 71, 155);
}

.MenuItem-detailsName {
    padding: 1vw 1vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.25vw;
    text-align: left;
    max-height: max-content;
    left: 2vw;
    position: relative;
}

.MenuItem-price {
    max-width: max-content;
    border-radius: 1vw;
    padding: 0.5vw;
    font-size: 0.75vw;
}

.MenuItem-addIcon {
    width: 1vw;
    height: 1vw;
    margin-left: 0.5vw;
    align-items: baseline;
    border: coral;
}

.MenuItem-quantity {
    max-width: 2vw;
    padding: 0.5vw;
    margin-left: 0vw;
    align-items: center;
    border-radius: 0.5vw;
    border: 0;
    text-align: center;
    background-color: rgb(0, 0, 0);
    color: white;
    font-weight: bold;
}

.MenuItem-quantity:hover {
    background-color: white;
    color: black;
}

.MenuItem-description {
    padding: 1vw 1vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.25vw;
    opacity: 80%;
    display: none;
    text-align: center;
    font-weight: bold;
}

.MenuItem-userList:hover .MenuItem-description {
    display: block;
}

.MenuItem-title {
    align-items: center;
    margin-top: 2vw;
    background-color: rgb(85, 99, 98);
    height: max-content;
    opacity: 90%;
    max-width: 50vw;
    padding: 0.5vw;
    margin: 1vw auto;
    display: flex;
    margin-left: auto;
    left: auto;
    justify-content: space-between;
    opacity: 85%;
    border-radius: 0.5vw;
}

.MenuItem-page {
    padding: 0.5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.25vw;
    margin-right: 1.5vw;
    margin-left: 2vw;
    word-break: break-all;
    max-width: 3.5vw;
}

.MenuItem-description-title {
    padding: 0.5vw;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.25vw;
    margin-left: 2vw;
    word-break: break-all;
    max-width: 4.1vw;
    word-wrap: break-word;
}