.Orders {
    background-image: url(orderbck.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.Order-button {
    background-color: rgb(38, 141, 38);
    max-width: max-content;
    font-size: 1.5vw;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    border: 0;
    padding: 0.5vw;
    color: white;
    border-radius: 0.5vw;
    margin: 2vw;
    left: 25vw;
    position: absolute;
    top: 5vw;
}

.Order-main {
    max-width: 50vw;
    margin: 4.4vw auto;
    background-color: rgb(5, 110, 114);
    padding: 1vw;
    opacity: 85%;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 2vw;
}

.OrderHistory-Maintitle {
    font-size: 2vw;
    padding: 0.5vw;
    text-decoration: underline;
    text-align: center;
}

.OrderHistory-title {
    font-size: 1.5vw;
    padding: 1vw;
    text-decoration: underline;
    font-weight: bold;
}

.Order-section {
    justify-content: space-between;
    padding: 0.5vw;
    background-color: rgb(143, 69, 69);
    margin: 0.5vw;
    border-radius: 0.5vw;
}

.Order-section:hover {
    background-color: cornflowerblue;
}

.Order-title {
    display: flex;
    justify-content: space-between;
    padding: 0.5vw;
    font-size: 1.5vw;
    background-color: rgb(130, 233, 228);
    color: black;
    border-radius: 0.5vw;
    font-weight: bold;
    margin-bottom: 1vw;
}

.Order-details {
    display: none;
}

.Order-details-tag {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.Order-section:hover .Order-details {
    display: block;
}

.Order-div {
    display: flex;
    justify-content: space-around;
    padding: 0.5vw;
    font-weight: bold;
}

.container {
    display: block;
    position: relative;
    padding-left: 1.5vw;
    margin-bottom: 1.2vw;
    cursor: pointer;
    font-size: 1.2vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.1vw;
    width: 1.1vw;
    border-radius: 0.3vw;
    background-color: #eee;
}

.container:hover input~.checkmark {
    background-color: #ccc;
}

.container input:checked~.checkmark {
    background-color: #2196f3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 0.45vw;
    top: 0.25vw;
    width: 0.25vw;
    height: 0.5vw;
    border: solid white;
    border-width: 0 0.15vw 0.15vw 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}