.NewUsers-title {
    font-family: sans-serif;
    font-size: 30px;
    text-decoration-line: underline;
    margin: 20px auto;
}

.Form-section {
    margin-bottom: 15px;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
    color: white;
    font-weight: bold;
}

.Signup {
    margin: 0 auto;
    height: max-content;
    width: 100%;
    background-image: url(back1.jpg);
    background-size: 100%;
}

.Form-input {
    padding: 6px 12px;
    margin: 15px 10px;
    border-radius: 6px;
    font-size: 14px;
    font-weight: bold;
    border: 0;
    height: 20px;
}

.UsersNew {
    width: max-content;
    margin-left: 800px;
    background-color: rgb(110, 120, 143);
    padding: 20px 20px;
    opacity: 85%;
    border-radius: 15px;
}

.Form-submit {
    background-color: rgb(158, 255, 198);
    font-family: sans-serif;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 12px;
    margin-left: 10px;
    border-radius: 4px;
    border: 0;
}

.User-details {
    font-family: sans-serif;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    background-color: lightgray;
    margin-bottom: 10px;
    width: 575px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.Sign-button {
    margin-right: 20px;
    border-radius: 8px;
    background-color: rgb(74, 36, 124);
    font-size: 12px;
    font-family: sans-serif;
    width: 80px;
    height: 40px;
    box-shadow: none;
    color: white;
    font-weight: bold;
    margin-top: 10px;
    align-items: center;
    border: 0;
}

.Signin {
    background-image: url(bck.jpg);
    background-size: 100%;
}